*{
    list-style: none;
}
.nav-1{
    display: flex;
    justify-content: space-evenly;
    height: 39px;
    width: 600px;
    margin: 30px auto;
    border-radius: 20px;
    background: linear-gradient(white, rgb(221, 219, 219));
}
.div-nav-1{
    display: flex;
}
.div-nav-2{
    display: flex;
    align-items: center;
}
.div-nav-1 ul{
    display: flex;
    align-items: center;
}
.div-nav-1 ul li{
    padding: 10px;
}
input{
    border: none;
    transition: 0.5s;
}
input:hover{
    border: solid black;
    padding: 5px;
}
.main-1{
    display: flex;
    justify-content: center;
    background: rgb(70, 70, 70);
    width: 595px;
    margin: auto;
    border-radius: 5px;
}
.main-1 ul{
    display: flex;
    justify-content: start;
    margin: auto;
    padding: 10px;
}
.main-1 a{
    color: dodgerblue;
    padding: 5px;
    text-decoration: none;
    font-size: smaller;
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.section-1 h1{
    font-size: 25px;
}
.section-1 button{
    background: rgb(73, 132, 170);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 13px;
    margin: 10px;
    font-size: 10px;
}
.section-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
}
.x{width: 130px; height: 240px;}
.d div{display: flex; align-items: center;}
.article, p{font-size: x-small;}
.b button{
    width: 100%;
    padding: 5px;
    background: linear-gradient(#62b3ef,#2b79ad);
    color: white;
    border: none;
    border-radius: 5px;
}
article{
    transition: 1s;
}
article:hover{
    padding: 10px;
    background: rgba(167, 166, 166, 0.788);
    border-radius: 25px;
    border: solid 3px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: auto;
}
.end{
    display: flex;
    justify-content: start;
    width: 600px;
    margin: auto;
}